{% extends "core/layout.html" %}

{% block plans %}
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
.table-condensed{
  font-size: 14px;
}
</style>
<section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center">
        <h1>{{ section_title }}</h1>
    </div>
    <br>
    <div class="container">
        <table class="table table-sm table-condensed" style="width:90%; margin-left: 5%;">
            <thead class="thead-dark">
            <tr>
                <th style="width:100px;">Fecha</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Datos</th>
                <th>Minutos</th>
                <th>SMS</th>
                <th>Zero Rating</th>
                <th>Apps</th>
                <th>Vigencia</th>
            </tr>
            </thead>
            <tbody>
            {% for row in table %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<section>
    <div class="container">
        <a href="{{ url_for('start.download_data', file='claro_tarifas_paquetes') }}" class="btn btn-primary btn-xl rounded-pill mt-5" style="margin-left: 40%;">Descargar Información</a>
    </div>
    <br>
    <br>
</section>
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}