body{
    top:0px!important;
}

/*Google and Fontsize control*/

.cont-nav{
    text-align: right;
    margin-top:6px;
}

/*Google Translate*/
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.goog-te-gadget-icon{
    display:none;
}

.google-translate span,.google-translate #google_translate_element{
    display:inline-block;
}
.google-translate{
    margin-top: -4px
}


.goog-te-gadget-simple{
    background-color:transparent !important;
}
.goog-te-gadget-simple span{
    color:white;
}


/*Content primary - ir al contenido página*/
.content-primary{
    display:none;
    margin-top:2%;
}
.content-primary a{
    color: #eeeeee;
}

.content-primary a:hover{
    color:#ee315d;
}


.borde {
    border: 3px solid white;
    border-radius: 4px;
    /* padding: 2px; */
}

.borde-btn{
    border: 3px solid black!important;
    border-radius: 4px;
    /* padding: 2px; */
}



/*Fontsize*/

.font-size{
    color: #eeeeee;
}

.font-size a:hover{
    color:#ee315d!important;
}


.jfontsize-button{
    text-decoration: none;
    cursor: pointer;
    display:inline-block;
}

.jfontsize-button:hover{
    text-decoration: none;
}


.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Versión sin prefijo, actualmente
    compatible con Chrome y Opera */
}
.acces-menu{
    text-align:right;
}


/*Contraste*/


.contraste-p{
    color:#eeeeee;
    text-decoration:none;
    float:right;
}

.contraste-p:hover{
    color:#ee315d;
    text-decoration:none;
}

.contraste-p:focus{
    text-decoration:none;
}

.contraste {
    color: #FFFFFF!important;
    background: #000000!important;
}
.contraste img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.dropdown-header{
    font-weight: bold;
}

.error{
    color:red;
}
.card-title{
    color:white;
}

.navbar-header{
    margin-top: -10px;
}


.jfontsize-button .fas{
   color:white;
}

.top-header{
    text-transform:uppercase;
    font-size:12px;
    padding-top:18px;
}

.nav .dropdown .menu-user *{
        text-transform:initial!important;
}


.goog-te-gadget-simple .goog-te-menu-value span {
   text-decoration: none!important;
   font-size: 11px!important;
   font-family: 'Lato', sans-serif;!important;
}

.nav-user{
    padding:0px
}
@media screen and (min-width: 768px) and (max-width: 991px){
.top-header{
  flex: 100%;
  max-width: 100%;
}
.top-header .row .col-md-3{
     padding: 0 15px;
     flex: 25%;
     max-width: 25%;
}
}
@media (max-width: 767px){
.top-header > .row > .col-md-3{
   padding: 5px 15px;
   width: 50%;
   text-align: center;
   margin: 0 auto;
}
.top-header > .row > .col-md-3:first-child > a{
   float: none;
}
.top-header > .row > .col-md-3:nth-child(3) > .row{
   float: none;
   display: block;
}
.top-header > .row > .col-md-3:nth-child(3) > .row > .col-md-6{
   padding: 0px;
   display: inline-block;
   width: auto;
}
.top-header > .row > .col-md-3:nth-child(3) > .row > .col-md-6 > span{
   float: left;
}
.top-header > .row > .col-md-3:nth-child(3) > .row > .col-md-1{
   display: inline-block;
   width: auto;
   vertical-align: top;
}
.top-header > .row > .col-md-3:last-child > ul{
   float: none;
   width: 100%;
   display: block;
}
}
@media (max-width: 400px){{
.navbar .container .row{
   flex: 100%;
}
.top-header > .row > .col-md-3{
   width: 100%;
}
}