{% block navbar %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" width="" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <ul class="nav navbar-nav ml-auto">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                                        border-right-width: 1px; margin-right: 25px;">
                                Proyectos
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <span class="dropdown-item-text"><b>Proyectos</b></span>
                                <a class="dropdown-item" href="{{ url_for('projects.create_project') }}">Crear
                                    Proyecto</a>
                                <a class="dropdown-item" href="{{ url_for('projects.cards') }}">Listado</a>
                                <a class="dropdown-item" href="{{ url_for('projects.table') }}">Tabla de Proyectos</a>
                                <a class="dropdown-item" href="{{ url_for('projects.matrix') }}">Matriz Estratégica</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                                        border-right-width: 1px; margin-right: 25px;">
                                Buscador
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <span class="dropdown-item-text"><b>Buscar</b></span>
                                <a class="dropdown-item" href="">Comentarios</a>
                                <a class="dropdown-item" href="">Lecciones Aprendidas</a>
                                <a class="dropdown-item" href="#">Riesgos</a>
                                <a class="dropdown-item" href="{{ url_for('projects.faqs') }}">FAQs</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                                        border-right-width: 1px; margin-right: 25px;">
                                Administración
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <span class="dropdown-item-text"><b>Administración</b></span>
                                <a class="dropdown-item" href="">Dar Permisos</a>
                                <a class="dropdown-item" href="">Ingresar Funcionarios</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu5"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                                        border-right-width: 1px; margin-right: 25px;">
                                Analítica
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <span class="dropdown-item-text"><b>Tipos de Analítica</b></span>
                                <a class="dropdown-item" href="{{ url_for('projects.knowledge_graph') }}">Relaciones</a>
                                <a class="dropdown-item" href="{{ url_for('files.upload') }}">Comparar Documentos</a>
                                <a class="dropdown-item" href="">Personal Sugerido</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}