{% extends "core/layout.html" %}

{% block admin %}
<br>
<br>
<!--
<div class="form-group">
    <input type="nombre" class="form-control" id="Input" onkeyup="searchFunction()" aria-describedby="emailHelp"
           placeholder="Filtrar por Nombre">
</div>
-->
<br>
<div class="row" style="font-size: 0.9rem;">
    <!--Table-->
    <table class="table table-striped table-responsive-md btn-table" align="right" id="Table">
        <!--Table head-->
        <thead class="thead-dark">
        <tr align="center">
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Servicio</th>
            <th>Seguridad</th>
            <th>Calificación</th>
            <th>Consultas</th>
            <th>Archivos</th>
            <th>Comentarios</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
        {% for dataset in datasets %}
        <tr align="center">
            <th scope="row">{{ dataset.dataset_id }}</th>
            <td>{{ dataset.title }}</td>
            <td>
                {% if dataset.topic_id == 1 %}Calidad{% endif %}
                {% if dataset.topic_id == 2 %}Mercados{% endif %}
                {% if dataset.topic_id == 3 %}Economía Digital{% endif %}
            </td>
            <td>
                {% if dataset.service == 1 %}Todos{% endif %}
                {% if dataset.service == 2 %}Telefonía Móvil{% endif %}
                {% if dataset.service == 3 %}Internet Móvil{% endif %}
                {% if dataset.service == 4 %}Telefonía Fija{% endif %}
                {% if dataset.service == 5 %}Internet Fijo{% endif %}
                {% if dataset.service == 6 %}elevisión{% endif %}
                {% if dataset.service == 7 %}Postal{% endif %}
                {% if dataset.service == 8 %}Plataformas Digitales{% endif %}
            </td>
            <td>
                {% if dataset.security_level == 1 %}Secreto{% endif %}
                {% if dataset.security_level == 2 %}Uso interno{% endif %}
                {% if dataset.security_level == 3 %}Restringido{% endif %}
                {% if dataset.security_level == 4 %}Abierto{% endif %}
            </td>
            <td> {{ '%0.2f' % dataset.rating_score | float }}</td>
            <td> {{ dataset.query_count }}</td>
            <td>
                <a href="{{ url_for('files.upload', id_dataset = dataset.dataset_id) }}">
                    <button type="button" class="btn btn-primary rounded-0 btn-sm my-0">Cargar</button>
                </a>
            </td>
            <td>
                <a href="{{ url_for('ratings.show_ratings_details', id_dataset = dataset.dataset_id) }}">
                    <button type="button" class="btn btn-primary rounded-0 btn-sm my-0">Ver Listado</button>
                </a>
            </td>
            <td>
                <a href="{{ url_for('admin.update_dataset', id_dataset = dataset.dataset_id) }}">
                    <button type="button" class="btn btn-primary rounded-0 btn-sm my-0">Modificar</button>
                </a>
            </td>
            <td>
                <a href="{{ url_for('admin.delete_dataset', id_dataset = dataset[0].dataset_id) }}">
                    <button type="button" class="btn btn-danger rounded-0 btn-sm my-0">Eliminar</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <!--Table body-->
    </table>
    <br>
    <div class="col-md-12 text-center">
        <a href="{{ url_for('admin.datasets') }}/create">
            <button type="button" class="btn btn-danger btn-lg rounded-0 my-0">Crear Conjunto de Información</button>
        </a>
    </div>
</div>

<script>
function searchFunction() {
  // Variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("Input");
  filter = input.value.toUpperCase();
  table = document.getElementById("Table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>
<script>
$(document).ready(function() {
    $('#Table').DataTable();
    }
);

</script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}