{% extends "core/layout.html" %}

{% block admin %}
<br>
<br>
<!--
<div class="form-group">
    <input type="email" class="form-control" id="Input" onkeyup="searchFunction()" aria-describedby="emailHelp"
           placeholder="Filtrar E-Mail">
</div>
-->
<br>
<!--Table-->
<div class="row" style="font-size: 0.85rem;">
    <table class="table table-striped table-responsive-md btn-table" align="right" id="Table">
        <!--Table head-->
        <thead class="thead-dark">
        <tr align="center">
            <th>ID</th>
            <th>Correo</th>
            <th>Inscrito</th>
            <th>Fecha de Registro</th>
            <th>Activación por Correo</th>
            <th>Nivel de Seguridad</th>
            <th>Actualizar Nivel de Seguridad</th>
            <th>Estado en Plataforma</th>
            <th>Perfil Administrador</th>
        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
        {% for user in users %}
        <tr align="center">
            <th scope="row">{{ user.id }}</th>

            <td align="left">{{ user.email }}</td>

            <td>Inscrito</td>

            <td>{{ user.registered_on.strftime('%Y-%m-%d') }}</td>

            {% if user.confirmed == 1 %}
            <td>SI</td>
            {% else %}
            <td>NO</td>
            {% endif %}

            <td>
                {% if user.permissions == 1 %}Secreto{% endif %}
                {% if user.permissions == 2 %}Uso interno{% endif %}
                {% if user.permissions == 3 %}Restringido{% endif %}
                {% if user.permissions == 4 %}Abierto{% endif %}
            </td>

            <td>
                <div class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle btn-sm rounded-0" data-toggle="dropdown">
                            Actualizar Permisos &nbsp
                            <span class="caret"></span></button>
                        <div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('admin.users') }}/admin/{{ user.email }}/1">Secreto</a>
                            <a class="dropdown-item" href="{{ url_for('admin.users') }}/admin/{{ user.email }}/2">Uso
                                Interno</a>
                            <a class="dropdown-item" href="{{ url_for('admin.users') }}/admin/{{ user.email }}/3">Restringido</a>
                            <a class="dropdown-item" href="{{ url_for('admin.users') }}/admin/{{ user.email }}/4">Abierto</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>

            {% if user.authorized == 1 %}
            <td>
                <a href="{{ url_for('admin.users') }}/authorization/{{ user.email }}">
                    <button type="button" class="btn btn-danger btn-sm rounded-0 my-0">Desactivar</button>
                </a>
            </td>
            {% else %}
            <td>
                <a href="{{ url_for('admin.users') }}/authorization/{{ user.email }}">
                    <button type="button" class="btn btn-success btn-sm rounded-0 my-0">Activar</button>
                </a>
            </td>
            {% endif %}

            {% if user.admin == 1 %}
            <td>
                <a href="{{ url_for('admin.users') }}/admin/{{ user.email }}">
                    <button type="button" class="btn btn-danger rounded-0 btn-sm my-0">Desactivar</button>
                </a>
            </td>
            {% else %}
            <td>
                <a href="{{ url_for('admin.users') }}/admin/{{ user.email }}">
                    <button type="button" class="btn btn-success rounded-0 btn-sm my-0">Activar</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        <!--Table body-->
    </table>
</div>

<script>
function searchFunction() {
  // Variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("Input");
  filter = input.value.toUpperCase();
  table = document.getElementById("Table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>
<script>
$(document).ready(function() {
    $('#Table').DataTable();
    }
);

</script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}