{% extends "core/layout.html" %}

{% block admin %}
<br>
<br>
<div class="form-group">
    <input type="nombre" class="form-control" id="myInput" onkeyup="searchFunction()" aria-describedby="emailHelp"
           placeholder="Filtrar por Nombre">
</div>
<br>
<div class="row" style="font-size: 0.9rem;">
    <!--Table-->
    <table class="table table-striped table-responsive-md btn-table" id="Table">
        <!--Table head-->
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Versión</th>
            <th>Fecha Creación</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Modificar</th>
        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
        {% for terms_and_conditions in terms_and_conditions_list %}
        <tr>
            <th scope="row">{{ terms_and_conditions.id }}</th>
            <td>{{ terms_and_conditions.version }}</td>
            <td>{{ terms_and_conditions.since.strftime('%Y-%m-%d') }}</td>
            <td>{{ terms_and_conditions.description | truncate(105) }}</td>
            {% if terms_and_conditions.active == 1 %}
            <td>
                <a href="">
                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Activar</button>
                </a>
            </td>
            {% else %}
            <td>
                <a href="">
                    <button type="button" class="btn btn-success btn-rounded btn-sm my-0">Desactivar</button>
                </a>
            </td>
            {% endif %}
            <td>
                <a href="{{ url_for('admin.terms_and_conditions') }}/update/{{ terms_and_conditions.id }}">
                    <button type="button" class="btn btn-success btn-rounded btn-sm my-0">Modificar</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <!--Table body-->
    </table>
    <br>
    <div class="col-md-12 text-center">
        <a href="{{ url_for('admin.terms_and_conditions') }}/create">
            <button type="button" class="btn btn-danger btn-lg btn-rounded my-0">Crear Nueva Politica de Terminos y
                Condiciones
            </button>
        </a>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#Table').DataTable();
    }
);

</script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}