{% extends "core/layout.html" %}

{% block create %}
<br>
<div class="card">
    <h2 class="card-header" align="left">Crear un Proyecto</h2>
    <div class="card-body" style="background-color: #e1e1e1">
        <div class="container">
            <div class="row" id="pwd-container">
                <div class="col-md-12"></div>
                <div class="col-md-12">
                    <section class="create-dataset-form" style="font-size: 0.9rem;">
                        <form method="post">
                            {{ form.hidden_tag() }}
                            <br>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="title"><strong>Titulo del Conjunto de Datos</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="title" name="title"
                                           maxlength="100"
                                           placeholder="(100 Caracteres) - Nombre para visualizar.">
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for=topic_id><strong>Categoria</strong></label>
                                    <select class="form-control form-control-sm" id="topic_id" name="topic_id">
                                        <option value="1">Calidad</option>
                                        <option value="2">Mercados</option>
                                        <option value="3">Economía Digital</option>
                                        <option value="4">Precios</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for=source><strong>Procedencia</strong></label>
                                    <select class="form-control form-control-sm" id="source" name="source">
                                        <option value="1">Encuesta</option>
                                        <option value="2">Medición</option>
                                        <option value="3">Envío de Información</option>
                                        <option value="4">Modelo Propio</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for=keywords><strong>Palabras Clave</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="keywords"
                                           name="keywords" maxlength="200"
                                           placeholder="Palabras Clave">
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                    <textarea class="form-control form-control-sm" rows="5" id="description" name="description"
                              maxlength="600"
                              placeholder="(600 Caracteres) - Descripción detallada del Conjunto de Datos."></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for=owner><strong>Propietario de la Información</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="owner" name="owner"
                                           maxlength="100"
                                           placeholder="(100 Caracteres) - Comisión de Regulación de Comunicaciones, DANE, SIC, etc.">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for=security_level><strong>Nivel de Seguridad</strong></label>
                                    <select class="form-control form-control-sm" id="security_level"
                                            name="security_level">
                                        <option value="1">Secreto</option>
                                        <option value="2">Uso interno</option>
                                        <option value="3">Restringido</option>
                                        <option value="4">Abierto</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for=service><strong>Servicio</strong></label>
                                    <select class="form-control form-control-sm" id="service" name="service">
                                        <option value="1">Todos</option>
                                        <option value="2">Telefonía Móvil</option>
                                        <option value="3">Internet Móvil</option>
                                        <option value="4">Telefonía Fija</option>
                                        <option value="5">Internet Fijo</option>
                                        <option value="6">Televisión</option>
                                        <option value="7">Postal</option>
                                        <option value="8">Plataformas Digitales</option>
                                    </select>
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2" align="left">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-toggle="toggle" value="True" id="has_dashboard"
                                               name="has_dashboard"><strong> Tiene Dashboard </strong>
                                    </label>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                                <textarea class="form-control form-control-sm" rows="3"
                                                          id="dashboard_conditions"
                                                          name="dashboard_conditions"
                                                          maxlength="1200"
                                                          placeholder="(1200 Caracteres) - Términos y condiciones de la Visualización."></textarea>
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-12" align="left">
                                    <input type="text" class="form-control form-control-sm" id="iframe_url"
                                           name="iframe_url"
                                           placeholder="Iframe URL">
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2" align="left">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-toggle="toggle" value="True" id="has_download"
                                               name="has_download"><strong> Tiene Descarga </strong>
                                    </label>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                                <textarea class="form-control form-control-sm" rows="3"
                                                          id="download_conditions"
                                                          name="download_conditions"
                                                          maxlength="1200"
                                                          placeholder="(1200 Caracteres) - Términos y condiciones de la Descarga."></textarea>
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2" align="left">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-toggle="toggle" value="True" id="has_api"
                                               name="has_api"><strong> Tiene API </strong>
                                    </label>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                                <textarea class="form-control form-control-sm" rows="3"
                                                          id="api_conditions"
                                                          name="api_conditions"
                                                          maxlength="1200"
                                                          placeholder="(1200 Caracteres) - Términos y condiciones del API."></textarea>
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2" align="left">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-toggle="toggle" value="True" id="has_hyperlink"
                                               name="has_hyperlink"><strong> Tiene Hiperenlace </strong>
                                    </label>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                                <textarea class="form-control form-control-sm" rows="3"
                                                          id="hyperlink_conditions"
                                                          name="hyperlink_conditions"
                                                          maxlength="1200"
                                                          placeholder="(1200 Caracteres) - Términos y condiciones del Enlace."></textarea>
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-12" align="left">
                                    <input type="text" class="form-control form-control-sm" id="hyperlink_url"
                                           name="hyperlink_url"
                                           placeholder="Hyperlink URL">
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2" align="left">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-toggle="toggle" value="True" id="has_report"
                                               name="has_report"><strong> Tiene Reporte </strong>
                                    </label>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                                <textarea class="form-control form-control-sm" rows="3"
                                                          id="report_conditions"
                                                          name="report_conditions"
                                                          maxlength="1200"
                                                          placeholder="(1200 Caracteres) - Términos y condiciones del Reporte."></textarea>
                                </div>
                            </div>
                            <p>
                                <button type="submit" class="btn btn-lg btn-danger btn-block">Crear Conjunto de Datos
                                </button>
                        </form>
                    </section>
                    <br>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}