{% extends "core/layout.html" %}

{% block send_notifications %}
<br>
<div class="card">
    <h2 class="card-header" align="left">Notificaciones a Usuarios</h2>
    <div class="card-body" style="background-color: #e1e1e1">
        <div class="row justify-content-md-center" id="pwd-container">
            <div class="col-md-12"></div>
            <div class="col-md-12">
                <section class="send-notifications-form">
                    <form method="post">

                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="version" name="version" placeholder="Asunto">
                        </div>

                        <div class="form-group">
                    <textarea class="form-control form-control-sm" rows="10" id="description" name="description"
                              placeholder="Texto de Notificación"></textarea>
                        </div>

                        <button type="submit" class="btn btn-lg btn-danger btn-block">Enviar Notificación</button>
                    </form>
                </section>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}