{% extends "core/layout.html" %}

{% block show_visits %}
<link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" rel="stylesheet">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" rel="stylesheet">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
<br>
<br>
<div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Historico de Visitas</h3>
        </div>
        <div class="card-body">
                {{ script | safe }}
                {{ div | safe }}
        </div>
    </div>
</div>
{% endblock %}