{% extends "core/layout.html" %}

{% block update %}
<br>
<div class="card">
    <h2 class="card-header" align="left">Actualizar Términos y Condiciones de Uso de la Plataforma</h2>
    <div class="card-body" style="background-color: #e1e1e1">
        <div class="container">
            <div class="row" id="pwd-container">
                <div class="col-md-12"></div>
                <div class="col-md-12">
                    <section class="update-terms_and_conditions-form" style="font-size: 0.85rem;">
                        <form method="post">
                            {{ form.hidden_tag() }}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control form-control-sm" id="version" name="version" maxlength="20"
                                           placeholder="Versión" value="{{ terms_and_conditions[0].version }}">
                                </div>
                            </div>
                            <p>

                            <div class="form-row">
                            <div class="form-group col-md-12">
                    <textarea class="form-control form-control-sm" rows="10" id="description" name="description" maxlength="50000">{{ terms_and_conditions[0].description }}</textarea>
                            </div>
                            </div>
                            <p>

                                <button type="submit" class="btn btn-lg btn-danger btn-block">Actualizar Términos y
                                    Condiciones
                                </button>
                        </form>
                    </section>
                    <br>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}