{% extends "core/layout.html" %}

{% block update %}
<br>
<div class="card">
    <h2 class="card-header" align="left">Actualizar un Conjunto de Datos</h2>
    <div class="card-body" style="background-color: #e1e1e1">
        <div class="container">
            <div class="row" id="pwd-container">
                <div class="col-md-12"></div>
                <div class="col-md-12">
                    <section class="create-dataset-form" style="font-size: 0.9rem;">
                        <form method="post">
                            {{ form.hidden_tag() }}
                            <br>
                            {% for dataset in data %}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="title"><strong>Titulo del Conjunto de Datos</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="title" name="title"
                                           maxlength="100" value="{{ dataset.title }}">
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for=topic_id><strong>Categoria</strong></label>
                                    <select class="form-control form-control-sm" id="topic_id" name="topic_id">
                                        <option {% if dataset.topic_id== 1 %}selected="selected" {% endif %}
                                                value="1">Calidad
                                        </option>
                                        <option {% if dataset.topic_id== 2 %}selected="selected" {% endif %}
                                                value="2">Mercados
                                        </option>
                                        <option {% if dataset.topic_id== 3 %}selected="selected" {% endif %}
                                                value="3">Economía Digital
                                        </option>
                                        <option {% if dataset.topic_id== 4 %}selected="selected" {% endif %}
                                                value="4">Precios
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for=source><strong>Procedencia</strong></label>
                                    <select class="form-control form-control-sm" id="source" name="source">
                                        <option {% if dataset.source==
                                        '1' %}selected="selected"{% endif %} value="1">Encuesta</option>
                                        <option {% if dataset.source==
                                        '2' %}selected="selected"{% endif %} value="2">Medición</option>
                                        <option {% if dataset.source==
                                        '3' %}selected="selected"{% endif %} value="3">Envío de Información</option>
                                        <option {% if dataset.source==
                                        '4' %}selected="selected"{% endif %} value="4">Modelo Propio</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for=keywords><strong>Palabras Clave</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="keywords"
                                           name="keywords" maxlength="200" value="{{ dataset.keywords }}">
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                    <textarea class="form-control form-control-sm" rows="5" id="description" name="description"
                              maxlength="600"
                              placeholder="(600 Caracteres) - Descripción detallada del Conjunto de Datos.">{{ dataset.description }}</textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for=owner><strong>Propietario de la Información</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="owner" name="owner"
                                           maxlength="100" value="{{ dataset.owner }}">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for=security_level><strong>Nivel de Seguridad</strong></label>
                                    <select class="form-control form-control-sm" id="security_level"
                                            name="security_level">
                                        <option {% if dataset.security_level== 1 %}selected="selected" {% endif %}
                                                value="1">Secreto
                                        </option>
                                        <option {% if dataset.security_level== 2 %}selected="selected" {% endif %}
                                                value="2">Uso interno
                                        </option>
                                        <option {% if dataset.security_level== 3 %}selected="selected" {% endif %}
                                                value="3">Restringido
                                        </option>
                                        <option {% if dataset.security_level== 4 %}selected="selected" {% endif %}
                                                value="4">Abierto
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for=service><strong>Servicio</strong></label>
                                    <select class="form-control form-control-sm" id="service" name="service">
                                        <option {% if dataset.service== 1 %}selected="selected" {% endif %} value="1">
                                            Todos
                                        </option>
                                        <option {% if dataset.service== 2 %}selected="selected" {% endif %} value="2">
                                            Telefonía Móvil
                                        </option>
                                        <option {% if dataset.service== 3 %}selected="selected" {% endif %} value="3">
                                            Internet Móvil
                                        </option>
                                        <option {% if dataset.service== 4 %}selected="selected" {% endif %} value="4">
                                            Telefonía Fija
                                        </option>
                                        <option {% if dataset.service== 5 %}selected="selected" {% endif %} value="5">
                                            Internet Fijo
                                        </option>
                                        <option {% if dataset.service== 6 %}selected="selected" {% endif %} value="6">
                                            Televisión
                                        </option>
                                        <option {% if dataset.service== 7 %}selected="selected" {% endif %} value="7">
                                            Postal
                                        </option>
                                        <option {% if dataset.service== 8 %}selected="selected" {% endif %} value="8">
                                            Plataformas Digitales
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2" align="left">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-toggle="toggle" value="True" id="has_dashboard"
                                               name="has_dashboard" {% if dataset.has_dashboard== True %} checked
                                               {% endif %}><strong> Tiene Dashboard </strong>
                                    </label>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                                <textarea class="form-control form-control-sm" rows="3"
                                                          id="dashboard_conditions"
                                                          name="dashboard_conditions"
                                                          maxlength="1200"
                                                          placeholder="(1200 Caracteres) - Términos y condiciones de la Visualización.">{{ dataset.dashboard_conditions }}</textarea>
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-12" align="left">
                                    <input type="text" class="form-control form-control-sm" id="iframe_url"
                                           name="iframe_url" value="{{ dataset.iframe_url }}">
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2" align="left">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-toggle="toggle" value="True" id="has_download"
                                               name="has_download" {% if dataset.has_download == True %} checked {% endif
                                               %}><strong> Tiene Descarga </strong>
                                    </label>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                                <textarea class="form-control form-control-sm" rows="3"
                                                          id="download_conditions"
                                                          name="download_conditions"
                                                          maxlength="1200"
                                                          placeholder="(1200 Caracteres) - Términos y condiciones de la Descarga.">{{ dataset.download_conditions }}</textarea>
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2" align="left">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-toggle="toggle" value="True" id="has_api"
                                               name="has_api" {% if dataset.has_api == True %} checked {% endif
                                               %}><strong> Tiene API </strong>
                                    </label>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                                <textarea class="form-control form-control-sm" rows="3"
                                                          id="api_conditions"
                                                          name="api_conditions"
                                                          maxlength="1200"
                                                          placeholder="(1200 Caracteres) - Términos y condiciones del API.">{{ dataset.api_conditions }}</textarea>
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2" align="left">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-toggle="toggle" value="True" id="has_hyperlink"
                                               name="has_hyperlink" {% if dataset.has_hyperlink == True %} checked {% endif
                                               %}><strong> Tiene Hiperenlace </strong>
                                    </label>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                                <textarea class="form-control form-control-sm" rows="3"
                                                          id="hyperlink_conditions"
                                                          name="hyperlink_conditions"
                                                          maxlength="1200"
                                                          placeholder="(1200 Caracteres) - Términos y condiciones del Enlace.">{{ dataset.hyperlink_conditions }}</textarea>
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-12" align="left">
                                    <input type="text" class="form-control form-control-sm" id="hyperlink_url"
                                           name="hyperlink_url"
                                           placeholder="Hyperlink URL" value="{{ dataset.hyperlink_url }}">
                                </div>
                            </div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2" align="left">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-toggle="toggle" value="True" id="has_report"
                                               name="has_report" {% if dataset.has_report == True %} checked {% endif
                                               %}><strong> Tiene Reporte </strong>
                                    </label>
                                </div>
                                <div class="form-group col-md-10" align="left">
                                                <textarea class="form-control form-control-sm" rows="3"
                                                          id="report_conditions"
                                                          name="report_conditions"
                                                          maxlength="1200"
                                                          placeholder="(1200 Caracteres) - Términos y condiciones del Reporte.">{{ dataset.report_conditions }}</textarea>
                                </div>
                            </div>
                            <p>
                                <button type="submit" class="btn btn-lg btn-danger btn-block">Actualizar Conjunto de Datos
                                </button>
                        </form>
                        {% endfor %}
                    </section>
                    <br>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}