{% extends "core/layout.html" %}

{% block comparation_table %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 40%">Texto Documento</th>
            <th style="width: 40%">Texto Comparación</th>
            <th style="width: 20%">Nivel de Similaridad</th>
        </tr>
        </thead>
        <tbody>
        {% for paragraph in paragraphs %}
        {% if paragraph["val"] == 0 %}<tr class="table-success">
        {% else %}<tr class="table-danger">{% endif %}
            <td>{{ paragraph["query"] }}</td>
            <td>{{ paragraph["base"] }}</td>
            <td><span class="badge badge-pill badge-primary">{{ paragraph["val"] }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block flash_messages %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}