{% extends "auth/layout.html" %}

{% block forgot %}
<div class="container">
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section class="login-form">
                <h1>
                    <a href="{{ url_for('landing.index') }}" title="Ir al Inicio Postdata" class="aImagen">
                        <img src="{{ url_for('static', filename='img/logoweb_large.png') }}" class="img-responsive"
                             alt="Logo Postdata"/>
                    </a>
                </h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

                {% for message in messages %}
                {% if "Error" not in message[1]: %}
                <div class="alert alert-success">
                    <strong>¡Éxito! </strong> {{ message[1] }}
                </div>
                {% endif %}

                {% if "Error" in message[1]: %}
                <div class="alert alert-danger">
                    {{ message[1] }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}

                <span>Aquí podrás solicitar el cambio de tu contraseña: </span>
                <form action="" method="post" id="ForgotForm">
                    {{ form.hidden_tag() }}
                    <br><br>
                    <div class="form-group">
                        <label for="email">Ingresa tu email (Obligatorio): </label>
                        <input required type="email" class="form-control" id="email" name="email" placeholder="Email"
                               autofocus>
                    </div>
                    <p>
                        {% if form.email.errors[0] %}
                    <div class="alert alert-danger">
                        El campo email es obligatorio
                    </div>
                    {% endif %}
                    </p>
                    <button type="submit" class="btn btn-lg btn-danger btn-block">Cambiar contraseña</button>
                </form>
            </section>
            <br>

        </div>

    </div>
</div>
{% endblock %}