﻿<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Post[data] - Comisión de Regulación de Comunicaciones</title>
    {% endif %}
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content=""/>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/apple-touch-icon-114x114.png">

    <!-- Bootstrap
    ================================================== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/bootstrap.css') }}">

    <!-- reCAPTCHA
    ================================================== -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Fonts
    ================================================== -->
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <!-- Custom Stylesheets
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/auth.css') }}">

    <!--Jquery-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/landing/jquery.1.11.1.js') }}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.auth"></script>
    <script>window.html5 || document.write('<script src="/static/auth/vendor/html5shiv.auth"><\/script>')</script>
    <![endif]-->

    <!-- reCAPTCHA -->
    <!-- https://www.google.com/recaptcha/admin#site/342299906?setup -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
     <!--Jquery Validate-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/auth/validate.js') }}"></script>

    <style>
        label{
            color:white;
        }
    </style>
</head>
<body>

<div class="container">
    {% block login %}{% endblock %}
    {% block register %}{% endblock %}
    {% block forgot %}{% endblock %}
    {% block restore %}{% endblock %}
</div>

<!--Custom scripts-->
<script src="{{ url_for('static', filename='js/auth/main.js') }}"></script>

</body>
</html>