{% extends "auth/layout.html" %}

{% block login %}
<div class="container">
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <section class="login-form">
                <h1>
                    <a href="{{ url_for('landing.index') }}" title="Ir al Inicio Postdata" class="Imagen">
                        <img src="{{ url_for('static', filename='img/logoweb_large.png') }}" class="img-responsive"
                             alt="Logo Postdata"/>
                    </a>
                </h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

                {% for message in messages %}
                {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                    {{ message[1] }}
                </div>
                {% endif %}

                {% if "Error" in message[1]: %}
                <div class="alert alert-danger">
                    {{ message[1] }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}

                <span>Para ingresar debes digitar la siguiente información:</span>
                <br><br>
                <form action="" method="post" id="LoginForm">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <label for="email">Escribe tu email (Obligatorio): </label>
                        <input required type="email" class="form-control" id="email" name="email" placeholder="Email"
                               autofocus>
                    </div>
                    <p align="center" class="help-block">

                        {% if form.email.errors[0] %}
                    <div class="alert alert-danger">
                        El campo email es obligatorio
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <label for="password">Escribe tu contraseña (Obligatorio): </label>
                        <input required type="password" class="form-control" id="password" name="password"
                               placeholder="Contraseña">
                    </div>
                    <p>
                        {% if form.password.errors[0] %}
                    <div class="alert alert-danger">
                        El campo contraseña es obligatorio
                    </div>
                    {% endif %}
                    </p>
                    <div class="form-group">
                        <label class="form-check-label" for="remember_me"
                               style="font-weight: normal;padding-left:0px!important">
                            Recordar datos de ingreso&nbsp&nbsp</label>
                        <input type="checkbox" class="form-check-input" id="remember_me" name="check"
                               placeholder="Recordar datos de inicio de sesión">
                    </div>
                    <button type="submit" class="btn btn-lg btn-danger btn-block">Ingresar</button>
                </form>
                <br>
                <div align="center"><span style="font-size:20px; font-weight: normal;"><a
                        href="{{ url_for('auth.forgot') }}" title="¿Olvidaste tu contraseña?">¿Olvidó la Contraseña?</a>
                </span></div>
                <br>
                <div align="center"><span style="color:white; font-weight: normal;"><a
                        href="{{ url_for('auth.register') }}" style="color: white;" title="Regístrate en Post[data]">¿Nuevo
                    Usuario? ¡Regístrate aquí!</a>
                </span></div>
            </section>
            <br>

        </div>

    </div>

</div>
{% endblock %}