{% extends "auth/layout.html" %}

{% block register %}
<div class="container">
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section class="login-form">
                <h1>
                    <a href="{{ url_for('landing.index') }}" title="Ir al Inicio Postdata" class="aImagen">
                        <img src="{{ url_for('static', filename='img/logoweb_large.png') }}" class="img-responsive"
                             alt="Logo Postdata"/>
                    </a>
                </h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

                {% for message in messages %}
                {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                    {{ message[1] }}
                </div>
                {% endif %}

                {% if "Error" in message[1]: %}
                <div class="alert danger">
                    {{ message[1] }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
                <span>Digita los siguientes datos para registrarte: </span>
                <br><br>
                <form method="post" id="RegistrationForm">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="email">Escribe tu email (Obligatorio):</label>
                        <input required type="email" class="form-control" id="email" name="email" placeholder="Email"
                               autofocus>
                    </div>
                    <p>
                        {% if form.email.errors[0] %}
                        <div class="alert alert-danger">
                            El campo email es obligatorio
                        </div>
                        {% endif %}
                    </p>
                    <div class="form-group">
                        <label for="password">Escribe una contraseña (Obligatorio):</label>
                        <input required type="password" class="form-control" id="password" name="password"
                               placeholder="Contraseña">
                    </div>
                    <p>
                        {% if form.password.errors[0] %}
                        <div class="alert alert-danger">
                            El campo contraseña es obligatorio
                        </div>
                        {% endif %}
                    </p>
                    <div class="form-group">
                        <label for="password2">Vuelve a escribir la contraseña (Obligatorio):</label>
                        <input required type="password" class="form-control" id="password2" name="password2"
                               placeholder="Confirmar Contraseña">
                    </div>
                    <p>
                        {% if form.password2.errors[0] %}
                        <div class="alert alert-danger">
                            Debes escribir nuevamente la contraseña
                        </div>
                        {% endif %}
                    </p>
                    <div class="form-group">
                        <span style="font-weight:bold">Realiza la siguiente verificación (Obligatorio): </span>
                        <br>
                        <div class="g-recaptcha" data-sitekey="{{ site_key_captcha }}"
                             style="padding-top: 0px; padding-left: 25px;"></div>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" for="accept_conditions"
                               style="padding-left:0px!important">Acepta los términos y condiciones de uso&nbsp&nbsp</label>
                        <input required type="checkbox" class="form-check-input" id="accept_conditions"
                               name="accept_conditions">
                    </div>
                    <p>
                        {% if form.accept_conditions.errors[0] %}
                    <div class="alert alert-danger">
                        Debes aceptar las condiciones de uso
                    </div>
                    {% endif %}
                    </p>
                    <button type="submit" class="btn btn-lg btn-danger btn-block">Registrar datos</button>


                </form>
            </section>
            <br>
            <!--{% for message in form.accept_conditions.errors %}-->
            <!--<div class="alert alert-warning">-->
            <!--{{ message }}-->
            <!--</div>-->
            <!--{% endfor %}-->


        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% endblock %}