{% extends "auth/layout.html" %}

{% block restore %}
<div class="container">
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section class="login-form">

                <h1>
                    <a href="{{ url_for('landing.index') }}" title="Ir al Inicio Postdata" class="aImagen">
                        <img src="{{ url_for('static', filename='img/logoweb_large.png') }}" class="img-responsive"
                             alt="Logo Postdata"/>
                    </a>
                </h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

                {% for message in messages %}
                {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                    {{ message[1] }}
                </div>
                {% endif %}

                {% if "Error" in message[1]: %}
                <div class="alert danger">
                    {{ message[1] }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}

                <span>Aquí podras reestablecer tu contraseña: </span>
                <br><br>
                <form method="post" id="ResetPasswordForm">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="password">Contraseña nueva:</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Contraseña" required autofocus>
                    </div>
                    <p>
                        {% if form.password.errors[0] %}
                    <div class="alert alert-danger">
                        El campo contraseña es obligatorio
                    </div>
                    {% endif %}
                    </p>
                    <div class="form-group">
                        <label for="password2">Confirmar nueva contraseña:</label>
                        <input type="password" class="form-control" id="password2" name="password2"
                               placeholder="Confirmar Contraseña" required>
                    </div>
                    <p>
                        {% if form.password2.errors[0] %}
                    <div class="alert alert-danger">
                        Debes confirmar la contraseña
                    </div>
                    {% endif %}
                    </p>
                    <button type="submit" class="btn btn-lg btn-danger btn-block">Reestablecer contraseña</button>
                </form>
            </section>
            <br>


        </div>

    </div>
</div>
{% endblock %}