{% extends "landing/layout.html" %}

{% block hero %}
<style>
header {
      background: url({{ url_for('static', filename='img/image_proyector.jpg') }}) no-repeat bottom right;
}
</style>
<header class="text-center">
    <div class="intro-text">
        <h1 align="left" style="font-size: 60px; text-transform: none; margin: 0 40% 0 10%;">
            Banco de Proyectos de la Comisión de Regulación de Comunicaciones</h1>
        <br>
        <div align="left" style="margin: 0 50% 0 10%;"><p>Toda la información de los Proyectos Regulatorios de la
            Entidad.
        </p></div>
        <br>
    </div>
</header>
{% endblock %}

{% block footer %}
<footer class="footer-distributed">
    <div class="footer-left">
        <img src="{{ url_for('static', filename='img/logocrcblancohorizontal.png') }}" align="center"
             alt="Logo Comisión de regulación de comunicaciones"
             width="80%" style="margin-top: -0px;">
    </div>
    <div class="footer-center">
        <div>
            <span class="fa fa-map-marker"></span>
            <p>
                <small>
                    Calle 59 A bis No. 5- 53
                    <br>Edificio Link Siete Sesenta Piso 9
                    <br>Bogotá D.C, Colombia
                    <br>Lunes a viernes de 8:30 a.m. a 5:30 p.m.
                </small>
            </p>
        </div>
        <div>
            <span class="fa fa-phone"></span>
            <p>
                <small>
                    Linea de atención Bogotá: +57-1-319-8300
                    <br>​Línea Gratuita Nacional: +57-01-8000-919278
                </small>
            </p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Acerca de Post[data]</span>
            Promovemos los análisis del sector de comunicaciones y la toma de decisiones basada en datos.
            <br>
            <a href="{{ url_for('landing.index') }}" style="display: inline-block;margin-top:10px">
                Ir a la página de inicio
            </a>
        </p>
    </div>
</footer>
{% endblock %}

{% block flash_messages %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}