<!-- == Navigation == -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" style="transition:1500ms ease;">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" width="" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <ul class="nav navbar-nav ml-auto">
                    <div class="navbar-nav">

                        {% if current_user.is_anonymous %}
                        <a class="nav-item nav-link active" href="{{ url_for('auth.login') }}">Home</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('projects.cards') }}">Ingresar</a>
                        {% endif %}

                    </div>
                </ul>
            </ul>
        </div>
    </div>
</nav>