{% extends "core/layout.html" %}

{% block projects_cards %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div style="background-color: coral;">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/file.svg') }}" height="50"
                         width="60%" style="margin-top: 5%; margin-bottom: 5%; margin-left: 20%">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Interconexión</h5>
                    <p class="card-text">Analizar las condiciones jurídicas, técnicas y económicas para la
                        interconexión, acceso y uso de las redes postales, a efectos de determinar y establecer el
                        régimen regulatorio aplicable en la materia con el fin de promover la competencia y la
                        prestación eficiente de los servicios postales.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            <button type="button" class="btn btn-sm btn-success">Iniciar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div style="background-color: coral;">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/file.svg') }}" height="50"
                         width="60%" style="margin-top: 5%; margin-bottom: 5%; margin-left: 20%">
                </div>
                <div class="card-body">
                    <h5 class="card-title">RITEL</h5>
                    <p class="card-text">Regulación que dicta el Reglamento Técnico de Redes Internas de
                        Telecomunicaciones -RITEL- está dispuesta en la Resolución CRC 5405 de 2018 (Ver adjunto), y la
                        cual será aplicable a partir del primero de julio de 2019.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            <button type="button" class="btn btn-sm btn-danger">Pausar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div style="background-color: coral;">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/file.svg') }}" height="50"
                         width="60%" style="margin-top: 5%; margin-bottom: 5%; margin-left: 20%">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Grandes Impositores</h5>
                    <p class="card-text">Definición de la tarifa mínima para el envío de objetos postales masivos en el
                        servicio de mensajería expresa en Colombia. Con la entrada en vigencia de la Ley 1369 de 2009,
                        se estableció en Colombia un nuevo régimen
                        legal para el sector postal, que busca permitir.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            <button type="button" class="btn btn-sm btn-danger">Pausar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block flash_messages %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}