{% extends "core/layout.html" %}

{% block create %}
<br>
<div class="card">
    <h2 class="card-header" align="left">Iniciar un Projecto</h2>
    <div class="card-body" style="background-color: #ffffff">
        <div class="container">
            <div class="row" id="pwd-container">
                <div class="col-md-12"></div>
                <div class="col-md-12">
                    <section class="create-dataset-form" style="font-size: 0.9rem;">
                        <form method="post">
                            <br>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="title"><strong>Nombre Proyecto</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="title" name="title"
                                           maxlength="100"
                                           placeholder="(100 Caracteres) - Nombre para visualizar.">
                                </div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="title"><strong>Objetivo del Proyecto</strong></label>
                                    <textarea class="form-control form-control-sm" rows="5" id="description"
                                              name="description"
                                              maxlength="600"
                                              placeholder="(600 Caracteres) - Descripción detallada del Conjunto de Datos."></textarea>
                                </div>
                            </div>
                            <br>
                            <div><h2>Valor Público Externo</h2></div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for=topic_id><strong>Autoregulación</strong></label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="customRange1">Seleccione</label>
                                    <input type="range" class="custom-range" id="customRange1">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for=keywords><strong>Innovación</strong></label>
                                </div>
                            </div>
                            <p>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for=topic_id><strong>Eliminación de Barreras</strong></label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="customRange1">Seleccione</label>
                                    <input type="range" class="custom-range" id="customRange1">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for=keywords><strong>Simplificación</strong></label>
                                </div>
                            </div>
                            <p>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for=topic_id><strong>Disminución de Precios de Mercado</strong></label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="customRange1">Seleccione</label>
                                    <input type="range" class="custom-range" id="customRange1">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for=keywords><strong>Promoción de la Competencia</strong></label>
                                </div>
                            </div>
                            <p>
                                <br>
                            <div><h2>Valor Público Interno</h2></div>
                            <p>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for=topic_id><strong>Calidad de la Información</strong></label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="customRange1">Seleccione</label>
                                    <input type="range" class="custom-range" id="customRange1">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for=keywords><strong>Mejora de Procesos Internos</strong></label>
                                </div>
                            </div>
                            <p>
                                <br>
                            <div><h2>Recursos</h2></div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for=security_level><strong>Perfíl</strong></label>
                                    <select class="form-control form-control-sm" id="security_level"
                                            name="security_level">
                                        <option value="1">Abogado</option>
                                        <option value="2">Economista</option>
                                        <option value="3">Ingeniero</option>
                                        <option value="4">Sociologo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for=security_level><strong>Nivel</strong></label>
                                    <select class="form-control form-control-sm" id="security_level"
                                            name="security_level">
                                        <option value="1">Senior</option>
                                        <option value="2">Medio</option>
                                        <option value="3">Junior</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for=service><strong>Intencidad</strong></label>
                                    <select class="form-control form-control-sm" id="service" name="service">
                                        <option value="1">50%</option>
                                        <option value="2">40%</option>
                                        <option value="3">30%</option>
                                        <option value="4">20%</option>
                                        <option value="5">10%</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for=keywords><strong>Cantidad</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="keywords"
                                           name="keywords" maxlength="200"
                                           placeholder="# de Profesionales">
                                </div>
                            </div>
                            <p>
                                                        <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for=security_level><strong>Perfíl</strong></label>
                                    <select class="form-control form-control-sm" id="security_level"
                                            name="security_level">
                                        <option value="1">Abogado</option>
                                        <option value="2">Economista</option>
                                        <option value="3">Ingeniero</option>
                                        <option value="4">Sociologo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for=security_level><strong>Nivel</strong></label>
                                    <select class="form-control form-control-sm" id="security_level"
                                            name="security_level">
                                        <option value="1">Senior</option>
                                        <option value="2">Medio</option>
                                        <option value="3">Junior</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for=service><strong>Intencidad</strong></label>
                                    <select class="form-control form-control-sm" id="service" name="service">
                                        <option value="1">50%</option>
                                        <option value="2">40%</option>
                                        <option value="3">30%</option>
                                        <option value="4">20%</option>
                                        <option value="5">10%</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for=keywords><strong>Cantidad</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="keywords"
                                           name="keywords" maxlength="200"
                                           placeholder="# de Profesionales">
                                </div>
                            </div>
                            <p>
                                                        <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for=security_level><strong>Perfíl</strong></label>
                                    <select class="form-control form-control-sm" id="security_level"
                                            name="security_level">
                                        <option value="1">Abogado</option>
                                        <option value="2">Economista</option>
                                        <option value="3">Ingeniero</option>
                                        <option value="4">Sociologo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for=security_level><strong>Nivel</strong></label>
                                    <select class="form-control form-control-sm" id="security_level"
                                            name="security_level">
                                        <option value="1">Senior</option>
                                        <option value="2">Medio</option>
                                        <option value="3">Junior</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for=service><strong>Intencidad</strong></label>
                                    <select class="form-control form-control-sm" id="service" name="service">
                                        <option value="1">50%</option>
                                        <option value="2">40%</option>
                                        <option value="3">30%</option>
                                        <option value="4">20%</option>
                                        <option value="5">10%</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for=keywords><strong>Cantidad</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="keywords"
                                           name="keywords" maxlength="200"
                                           placeholder="# de Profesionales">
                                </div>
                            </div>
                            <br>
                                                            <br>
                            <div><h2>Costo</h2></div>
                            <p>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for=keywords><strong>Costo de Recursos Estimados</strong></label>
                                    <input type="text" class="form-control form-control-sm" id="keywords"
                                           name="keywords" maxlength="200"
                                           placeholder="# de Profesionales">
                                </div>
                            </div>
                            <br>
                            <p>
                        </form>
                                <a href="{{ url_for('projects.cards') }}">
                                    <button type="button" class="btn btn-primary btn-lg btn-block">Crear Caso de Negocio</button>
                                </a>
                    </section>
                    <br>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}