{% extends "core/layout.html" %}

{% block projects_matrix %}
<div class="container">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" rel="stylesheet">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css" rel="stylesheet">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
<br>
<br>
<div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Relaciones </h3>
        </div>
        <div class="card-body">
                {{ script | safe }}
                {{ div | safe }}
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block flash_messages %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}