{% extends "core/layout.html" %}

{% block projects_table %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Alineación Estratégica</th>
            <th>Leciones Aprendidas</th>
            <th>Comentarios</th>
            <th>Riesgos</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-success">
            <td>Divulgación del Régimen de Protección de Usuarios</td>
            <td>92%</td>
            <td><span class="badge badge-pill badge-primary">3</span></td>
            <td><span class="badge badge-pill badge-primary">5</span></td>
            <td><span class="badge badge-pill badge-primary">2</span></td>
        </tr>
        <tr class="table-success">
            <td>RITEL</td>
            <td>88%</td>
            <td><span class="badge badge-pill badge-primary">4</span></td>
            <td><span class="badge badge-pill badge-primary">3</span></td>
            <td><span class="badge badge-pill badge-primary">8</span></td>
        </tr>
        <tr class="table-success">
            <td>Interconexión</td>
            <td>78%</td>
            <td><span class="badge badge-pill badge-primary">4</span></td>
            <td><span class="badge badge-pill badge-primary">9</span></td>
            <td><span class="badge badge-pill badge-primary">3</span></td>
        </tr>
        <tr class="table-success">
            <td>Grandes Impositores</td>
            <td>76%</td>
            <td><span class="badge badge-pill badge-primary">7</span></td>
            <td><span class="badge badge-pill badge-primary">5</span></td>
            <td><span class="badge badge-pill badge-primary">1</span></td>
        </tr>
        <tr class="table-danger">
            <td>Régimen de Protección de Usuarios del sector postal – Fase I
            </td>
            <td>65%</td>
            <td><span class="badge badge-pill badge-primary">4</span></td>
            <td><span class="badge badge-pill badge-primary">7</span></td>
            <td><span class="badge badge-pill badge-primary">3</span></td>
        </tr>
        <tr class="table-danger">
            <td>Revisión Portabilidad Numérica y Compensación automática por
                llamadas caídas
            </td>
            <td>62%</td>
            <td><span class="badge badge-pill badge-primary">4</span></td>
            <td><span class="badge badge-pill badge-primary">3</span></td>
            <td><span class="badge badge-pill badge-primary">2</span></td>
        </tr>
        <tr class="table-danger">
            <td>Revisión y actualización de indicadores de calidad de los servicios
                postales – fase I
            </td>
            <td>58%</td>
            <td><span class="badge badge-pill badge-primary">4</span></td>
            <td><span class="badge badge-pill badge-primary">5</span></td>
            <td><span class="badge badge-pill badge-primary">6</span></td>
        </tr>
        <tr class="table-danger">
            <td>Diseño y aplicación de metodología para simplificación del marco
                regulatorio de la CRC
            </td>
            <td>55%</td>
            <td><span class="badge badge-pill badge-primary">4</span></td>
            <td><span class="badge badge-pill badge-primary">6</span></td>
            <td><span class="badge badge-pill badge-primary">10</span></td>
        </tr>
         </tbody>
    </table>
</div>
{% endblock %}

{% block flash_messages %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}