@CHARSET "UTF-8";

.progress-bar {
	color: #333;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;@include box-sizing(border-box);
	&:focus {
	z-index: 2;
}
}

body {
	background: url('../../img/fondo_login.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login-form {
	margin-top: 150px;
}

form[role=login] {
	color: #000000;
	/*background: #f2f2f2;*/
	padding: 0px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}
form[role=login] input, form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}
form[role=login] > div {
	text-align: center;
}

.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
.form-links a {
	color: #fff;
}

.form-check-label {
    padding-left: 20px !important;
    color: white;
}

.borde {
    border: 3px solid white;
    border-radius: 4px;
    /* padding: 2px; */
}

.borde2 {
    border: 3px solid #1629f9;
    border-radius: 4px;
    /* padding: 2px; */
}

.aImagen{
    display:inline-block;
}

span{
    color:white;
}


.error{
    color:red;
}

.row{
    margin-top:-7%;
}

.form-check{
    padding-left: 0!important;
}
