{% extends "core/layout.html" %}

{% block upload_files %}
<br>
<div class="container">
    <div class="card">
        <h2 class="card-header" align="left">Comparar con Base de Conocimiento</h2>
        <div class="card-body" style="background-color: #e1e1e1">
            <div class="row justify-content-md-center" id="pwd-container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <a href="{{ url_for('files.upload_document') }}"
                               class="btn btn-danger rounded-0 btn-lg active" role="button"
                               aria-pressed="true">Cargar Archivo</a>
                        </div>
                        <!--                            <div class="col-md-6" align="center">-->
                        <!--                            <a href="{{ url_for('files.upload_document') }}" class="btn btn-danger rounded-0 btn-lg active" role="button" aria-pressed="true">Cargar Documento</a>-->
                        <!--                            </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}