{% extends "core/layout.html" %}


{% block upload_files %}
<br>
<br>
<br>
<div class="row" style="font-size: 0.9rem;">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Archivo</th>
      <th scope="col">Carga</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ file }}</td>
      <td>
          <form action="" method="POST"
      enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit"/>
</form>
      </td>
    </tr>
  </tbody>
</table>




</div>

{% endblock %}